pd/UEFA_WS_Client/xml-resources/web-service-references/PartitaEJB/wsdl/localhost_8080/PartitaEJBService/PartitaEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uefa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://uefa/" name="PartitaEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://uefa/" schemaLocation="http://localhost:8080/PartitaEJBService/PartitaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="trovaPerId">
<part name="parameters" element="tns:trovaPerId"/>
</message>
<message name="trovaPerIdResponse">
<part name="parameters" element="tns:trovaPerIdResponse"/>
</message>
<message name="aggiornaPartita">
<part name="parameters" element="tns:aggiornaPartita"/>
</message>
<message name="aggiornaPartitaResponse">
<part name="parameters" element="tns:aggiornaPartitaResponse"/>
</message>
<message name="creaPartita">
<part name="parameters" element="tns:creaPartita"/>
</message>
<message name="creaPartitaResponse">
<part name="parameters" element="tns:creaPartitaResponse"/>
</message>
<message name="eliminaPartita">
<part name="parameters" element="tns:eliminaPartita"/>
</message>
<message name="eliminaPartitaResponse">
<part name="parameters" element="tns:eliminaPartitaResponse"/>
</message>
<message name="trovaPartite">
<part name="parameters" element="tns:trovaPartite"/>
</message>
<message name="trovaPartiteResponse">
<part name="parameters" element="tns:trovaPartiteResponse"/>
</message>
<message name="trovaPartitePerNumeroEspulsioni0">
<part name="parameters" element="tns:trovaPartitePerNumeroEspulsioni0"/>
</message>
<message name="trovaPartitePerNumeroEspulsioni0Response">
<part name="parameters" element="tns:trovaPartitePerNumeroEspulsioni0Response"/>
</message>
<message name="trovaPartitePerTipologia">
<part name="parameters" element="tns:trovaPartitePerTipologia"/>
</message>
<message name="trovaPartitePerTipologiaResponse">
<part name="parameters" element="tns:trovaPartitePerTipologiaResponse"/>
</message>
<message name="trovaPartitePerNumeroAmmonizioni">
<part name="parameters" element="tns:trovaPartitePerNumeroAmmonizioni"/>
</message>
<message name="trovaPartitePerNumeroAmmonizioniResponse">
<part name="parameters" element="tns:trovaPartitePerNumeroAmmonizioniResponse"/>
</message>
<message name="trovaPartitePerNumeroEspulsioni">
<part name="parameters" element="tns:trovaPartitePerNumeroEspulsioni"/>
</message>
<message name="trovaPartitePerNumeroEspulsioniResponse">
<part name="parameters" element="tns:trovaPartitePerNumeroEspulsioniResponse"/>
</message>
<message name="trovaPartitePerNumeroGoalMaggiori2">
<part name="parameters" element="tns:trovaPartitePerNumeroGoalMaggiori2"/>
</message>
<message name="trovaPartitePerNumeroGoalMaggiori2Response">
<part name="parameters" element="tns:trovaPartitePerNumeroGoalMaggiori2Response"/>
</message>
<portType name="PartitaEJB">
<operation name="trovaPerId">
<input wsam:Action="http://uefa/PartitaEJB/trovaPerIdRequest" message="tns:trovaPerId"/>
<output wsam:Action="http://uefa/PartitaEJB/trovaPerIdResponse" message="tns:trovaPerIdResponse"/>
</operation>
<operation name="aggiornaPartita">
<input wsam:Action="http://uefa/PartitaEJB/aggiornaPartitaRequest" message="tns:aggiornaPartita"/>
<output wsam:Action="http://uefa/PartitaEJB/aggiornaPartitaResponse" message="tns:aggiornaPartitaResponse"/>
</operation>
<operation name="creaPartita">
<input wsam:Action="http://uefa/PartitaEJB/creaPartitaRequest" message="tns:creaPartita"/>
<output wsam:Action="http://uefa/PartitaEJB/creaPartitaResponse" message="tns:creaPartitaResponse"/>
</operation>
<operation name="eliminaPartita">
<input wsam:Action="http://uefa/PartitaEJB/eliminaPartitaRequest" message="tns:eliminaPartita"/>
<output wsam:Action="http://uefa/PartitaEJB/eliminaPartitaResponse" message="tns:eliminaPartitaResponse"/>
</operation>
<operation name="trovaPartite">
<input wsam:Action="http://uefa/PartitaEJB/trovaPartiteRequest" message="tns:trovaPartite"/>
<output wsam:Action="http://uefa/PartitaEJB/trovaPartiteResponse" message="tns:trovaPartiteResponse"/>
</operation>
<operation name="trovaPartitePerNumeroEspulsioni0">
<input wsam:Action="http://uefa/PartitaEJB/trovaPartitePerNumeroEspulsioni0Request" message="tns:trovaPartitePerNumeroEspulsioni0"/>
<output wsam:Action="http://uefa/PartitaEJB/trovaPartitePerNumeroEspulsioni0Response" message="tns:trovaPartitePerNumeroEspulsioni0Response"/>
</operation>
<operation name="trovaPartitePerTipologia">
<input wsam:Action="http://uefa/PartitaEJB/trovaPartitePerTipologiaRequest" message="tns:trovaPartitePerTipologia"/>
<output wsam:Action="http://uefa/PartitaEJB/trovaPartitePerTipologiaResponse" message="tns:trovaPartitePerTipologiaResponse"/>
</operation>
<operation name="trovaPartitePerNumeroAmmonizioni">
<input wsam:Action="http://uefa/PartitaEJB/trovaPartitePerNumeroAmmonizioniRequest" message="tns:trovaPartitePerNumeroAmmonizioni"/>
<output wsam:Action="http://uefa/PartitaEJB/trovaPartitePerNumeroAmmonizioniResponse" message="tns:trovaPartitePerNumeroAmmonizioniResponse"/>
</operation>
<operation name="trovaPartitePerNumeroEspulsioni">
<input wsam:Action="http://uefa/PartitaEJB/trovaPartitePerNumeroEspulsioniRequest" message="tns:trovaPartitePerNumeroEspulsioni"/>
<output wsam:Action="http://uefa/PartitaEJB/trovaPartitePerNumeroEspulsioniResponse" message="tns:trovaPartitePerNumeroEspulsioniResponse"/>
</operation>
<operation name="trovaPartitePerNumeroGoalMaggiori2">
<input wsam:Action="http://uefa/PartitaEJB/trovaPartitePerNumeroGoalMaggiori2Request" message="tns:trovaPartitePerNumeroGoalMaggiori2"/>
<output wsam:Action="http://uefa/PartitaEJB/trovaPartitePerNumeroGoalMaggiori2Response" message="tns:trovaPartitePerNumeroGoalMaggiori2Response"/>
</operation>
</portType>
<binding name="PartitaEJBPortBinding" type="tns:PartitaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="trovaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaPartita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creaPartita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaPartita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPartite">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPartitePerNumeroEspulsioni0">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPartitePerTipologia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPartitePerNumeroAmmonizioni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPartitePerNumeroEspulsioni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPartitePerNumeroGoalMaggiori2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartitaEJBService">
<port name="PartitaEJBPort" binding="tns:PartitaEJBPortBinding">
<soap:address location="http://localhost:8080/PartitaEJBService/PartitaEJB"/>
</port>
</service>
</definitions>