pd/Viaggi_WS_Client/xml-resources/web-service-references/ViaggioEJB/wsdl/localhost_8080/ViaggioEJBService/ViaggioEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://viaggi/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://viaggi/">

<xs:element name="aggiorna" type="tns:aggiorna"/>

<xs:element name="aggiornaResponse" type="tns:aggiornaResponse"/>

<xs:element name="crea" type="tns:crea"/>

<xs:element name="creaResponse" type="tns:creaResponse"/>

<xs:element name="elimina" type="tns:elimina"/>

<xs:element name="eliminaResponse" type="tns:eliminaResponse"/>

<xs:element name="trovaPerCategoria" type="tns:trovaPerCategoria"/>

<xs:element name="trovaPerCategoriaResponse" type="tns:trovaPerCategoriaResponse"/>

<xs:element name="trovaPerDestinazione" type="tns:trovaPerDestinazione"/>

<xs:element name="trovaPerDestinazioneResponse" type="tns:trovaPerDestinazioneResponse"/>

<xs:element name="trovaPerId" type="tns:trovaPerId"/>

<xs:element name="trovaPerIdResponse" type="tns:trovaPerIdResponse"/>

<xs:element name="trovaPerPrezzo" type="tns:trovaPerPrezzo"/>

<xs:element name="trovaPerPrezzoResponse" type="tns:trovaPerPrezzoResponse"/>

<xs:element name="trovaTutti" type="tns:trovaTutti"/>

<xs:element name="trovaTuttiResponse" type="tns:trovaTuttiResponse"/>

<xs:element name="viaggio" type="tns:viaggio"/>

<xs:complexType name="crea">
<xs:sequence>
<xs:element name="arg0" type="tns:viaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viaggio">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="destinazione" type="xs:string" minOccurs="0"/>
<xs:element name="disponibilita" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="prezzo" type="xs:int"/>
<xs:element name="sconto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="trovaPerId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trovaPerIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:viaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trovaTutti">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="trovaTuttiResponse">
<xs:sequence>
<xs:element name="return" type="tns:viaggio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trovaPerDestinazione">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trovaPerDestinazioneResponse">
<xs:sequence>
<xs:element name="return" type="tns:viaggio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiorna">
<xs:sequence>
<xs:element name="arg0" type="tns:viaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiornaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="trovaPerPrezzo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trovaPerPrezzoResponse">
<xs:sequence>
<xs:element name="return" type="tns:viaggio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="elimina">
<xs:sequence>
<xs:element name="arg0" type="tns:viaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="trovaPerCategoria">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trovaPerCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="tns:viaggio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>