pd/Viaggi_WS_Client/xml-resources/web-service-references/ViaggioEJB/wsdl/localhost_8080/ViaggioEJBService/ViaggioEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://viaggi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://viaggi/" name="ViaggioEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://viaggi/" schemaLocation="http://localhost:8080/ViaggioEJBService/ViaggioEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="trovaPerId">
<part name="parameters" element="tns:trovaPerId"/>
</message>
<message name="trovaPerIdResponse">
<part name="parameters" element="tns:trovaPerIdResponse"/>
</message>
<message name="aggiorna">
<part name="parameters" element="tns:aggiorna"/>
</message>
<message name="aggiornaResponse">
<part name="parameters" element="tns:aggiornaResponse"/>
</message>
<message name="elimina">
<part name="parameters" element="tns:elimina"/>
</message>
<message name="eliminaResponse">
<part name="parameters" element="tns:eliminaResponse"/>
</message>
<message name="trovaTutti">
<part name="parameters" element="tns:trovaTutti"/>
</message>
<message name="trovaTuttiResponse">
<part name="parameters" element="tns:trovaTuttiResponse"/>
</message>
<message name="crea">
<part name="parameters" element="tns:crea"/>
</message>
<message name="creaResponse">
<part name="parameters" element="tns:creaResponse"/>
</message>
<message name="trovaPerPrezzo">
<part name="parameters" element="tns:trovaPerPrezzo"/>
</message>
<message name="trovaPerPrezzoResponse">
<part name="parameters" element="tns:trovaPerPrezzoResponse"/>
</message>
<message name="trovaPerCategoria">
<part name="parameters" element="tns:trovaPerCategoria"/>
</message>
<message name="trovaPerCategoriaResponse">
<part name="parameters" element="tns:trovaPerCategoriaResponse"/>
</message>
<message name="trovaPerDestinazione">
<part name="parameters" element="tns:trovaPerDestinazione"/>
</message>
<message name="trovaPerDestinazioneResponse">
<part name="parameters" element="tns:trovaPerDestinazioneResponse"/>
</message>
<portType name="ViaggioEJB">
<operation name="trovaPerId">
<input wsam:Action="http://viaggi/ViaggioEJB/trovaPerIdRequest" message="tns:trovaPerId"/>
<output wsam:Action="http://viaggi/ViaggioEJB/trovaPerIdResponse" message="tns:trovaPerIdResponse"/>
</operation>
<operation name="aggiorna">
<input wsam:Action="http://viaggi/ViaggioEJB/aggiornaRequest" message="tns:aggiorna"/>
<output wsam:Action="http://viaggi/ViaggioEJB/aggiornaResponse" message="tns:aggiornaResponse"/>
</operation>
<operation name="elimina">
<input wsam:Action="http://viaggi/ViaggioEJB/eliminaRequest" message="tns:elimina"/>
<output wsam:Action="http://viaggi/ViaggioEJB/eliminaResponse" message="tns:eliminaResponse"/>
</operation>
<operation name="trovaTutti">
<input wsam:Action="http://viaggi/ViaggioEJB/trovaTuttiRequest" message="tns:trovaTutti"/>
<output wsam:Action="http://viaggi/ViaggioEJB/trovaTuttiResponse" message="tns:trovaTuttiResponse"/>
</operation>
<operation name="crea">
<input wsam:Action="http://viaggi/ViaggioEJB/creaRequest" message="tns:crea"/>
<output wsam:Action="http://viaggi/ViaggioEJB/creaResponse" message="tns:creaResponse"/>
</operation>
<operation name="trovaPerPrezzo">
<input wsam:Action="http://viaggi/ViaggioEJB/trovaPerPrezzoRequest" message="tns:trovaPerPrezzo"/>
<output wsam:Action="http://viaggi/ViaggioEJB/trovaPerPrezzoResponse" message="tns:trovaPerPrezzoResponse"/>
</operation>
<operation name="trovaPerCategoria">
<input wsam:Action="http://viaggi/ViaggioEJB/trovaPerCategoriaRequest" message="tns:trovaPerCategoria"/>
<output wsam:Action="http://viaggi/ViaggioEJB/trovaPerCategoriaResponse" message="tns:trovaPerCategoriaResponse"/>
</operation>
<operation name="trovaPerDestinazione">
<input wsam:Action="http://viaggi/ViaggioEJB/trovaPerDestinazioneRequest" message="tns:trovaPerDestinazione"/>
<output wsam:Action="http://viaggi/ViaggioEJB/trovaPerDestinazioneResponse" message="tns:trovaPerDestinazioneResponse"/>
</operation>
</portType>
<binding name="ViaggioEJBPortBinding" type="tns:ViaggioEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="trovaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiorna">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elimina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaTutti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerPrezzo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerDestinazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ViaggioEJBService">
<port name="ViaggioEJBPort" binding="tns:ViaggioEJBPortBinding">
<soap:address location="http://localhost:8080/ViaggioEJBService/ViaggioEJB"/>
</port>
</service>
</definitions>